wp-content/**/*.png filter=lfs diff=lfs merge=lfs -text
wp-content/**/*.jpg filter=lfs diff=lfs merge=lfs -text
wp-content/**/*.js filter=lfs diff=lfs merge=lfs -text
wp-content/**/*.css filter=lfs diff=lfs merge=lfs -text
wp-content/**/*.json filter=lfs diff=lfs merge=lfs -text
wp-content/**/*.webp filter=lfs diff=lfs merge=lfs -text
wp-content/**/*.avif filter=lfs diff=lfs merge=lfs -text
wp-content/**/*.svg filter=lfs diff=lfs merge=lfs -text
wp-content/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
wp-includes/**/*.png filter=lfs diff=lfs merge=lfs -text
wp-includes/**/*.jpg filter=lfs diff=lfs merge=lfs -text
wp-includes/**/*.js filter=lfs diff=lfs merge=lfs -text
wp-includes/**/*.css filter=lfs diff=lfs merge=lfs -text
wp-includes/**/*.json filter=lfs diff=lfs merge=lfs -text
wp-includes/**/*.webp filter=lfs diff=lfs merge=lfs -text
wp-includes/**/*.avif filter=lfs diff=lfs merge=lfs -text
wp-includes/**/*.svg filter=lfs diff=lfs merge=lfs -text
wp-includes/**/*.jpeg filter=lfs diff=lfs merge=lfs -text